<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-danger" th:text="#{message.session.expired}">expired</h1>
    <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.form.goBackToLogin}">login</a>
</div>
</body>
</html>