<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="#{registration.result.page.header}">home</title>
</head>

<body>

<div th:if="${tokenValid != null}" class="alert alert-success" th:text="#{registration.confirmation.token.isValid}">Successfully registered</div>
<div th:if="${tokenInvalid != null}" class="alert alert-danger" th:text="#{registration.confirmation.token.isInvalid}">Erroneous Token</div>
<div th:if="${tokenExpired != null}" class="alert alert-warning" th:text="#{registration.confirmation.token.isExpired}">Token Expired</div>

<div class="container">
    <h3 th:text="#{registration.result.page.header}">registration status page header</h3>
    <br/><br />
    <span class="badge badge-light" th:if="${tokenValid != null}"
          th:text="#{registration.confirmation.token.isValid}" style="font-size: 25px">m1</span>
    <span class="badge badge-light" th:if="${tokenInvalid != null}"
          th:text="#{registration.confirmation.token.isInvalid}" style="font-size: 25px">m2</span>
    <span class="badge badge-light" th:if="${tokenExpired != null}"
          th:text="#{registration.confirmation.token.isExpired}" style="font-size: 25px">m3</span>
    <br/><br /><br />
    <!-- <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.form.login}">login</a> -->
    <!--         <a th:href="@{/login}" th:text="#{label.form.goBackToLogin}">goToLoginPage</a> -->
    <div class="container row">
        <span class="col-sm-3">
			<a th:href="@{/login}" th:text="#{label.form.goBackToLogin}">goToLoginPage</a>
		</span>
        <span class="col-sm-3">
			<a th:href="@{/registration}" th:text="#{label.form.goBackToRegistration}">goToRegistrationPage</a>
		</span>
        <span class="col-sm-6"></span>
    </div>
</div>
</body>

</html>