<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Registration</title>
</head>

<body>
    <div class="container">
        <div>
            <h1 th:text="#{label.form.registrationTitle}">title</h1>
            <br/>
            <form id="myFormId" action="#" th:action="@{/registration}" th:object="${viewFormUser}" method="post" enctype="utf-8">
                <!-- first name group-->
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{label.form.firstName}">userFirstName</label>
                    <span class="col-sm-5">
                        <!-- https://www.tutorialspoint.com/html/html_input_tag.htm-->
                        <input type="text" class="form-control" th:field="*{firstname}" value=""/>
                    </span>
                    <!-- <span id="firstNameError" class="alert alert-danger col-sm-4" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">first name error</span> -->

                    <span id="firstnameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <!-- last name group-->
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{label.form.lastName}">userFirstName</label>
                    <span class="col-sm-5">
                        <input type="text" class="form-control" th:field="*{lastname}" value=""/>
                    </span>
                    <!-- <span id="lastNameError" class="alert alert-danger col-sm-4" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">last name error</span> -->

                    <span id="lastnameError" class="alert alert-danger col-sm-4" style="display:none"></span>                    
                </div>
                <!-- user's password-->
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{label.form.userPassword}">user password</label>
                    <span class="col-sm-5">
                         <input id="mainPassword" type="text" class="form-control" th:field="*{password}" value=""/>
                    </span>
                    <!-- <span id="passwordError" class="alert alert-danger col-sm-4" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span> -->

                    <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <!-- user's password confirmation-->
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{label.form.userPasswordConfirmation}">user passport confirmed</label>
                    <span class="col-sm-5">
                        <input id="matchPassword" type="text" class="form-control" th:field="*{passwordconfirmed}" value=""/>
                    </span>
                    <!-- SEE: https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#global-errors -->
                    <!-- <span id="confirmedPassportError" class="alert alert-danger col-sm-4" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">confirmed password error</span> -->

                    <span id="confirmedPassportError" class="alert alert-danger col-sm-4" style="display:none"></span>  
                </div>
                <!-- user's email-->
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{label.form.userEmail}">user email</label>
                    <span class="col-sm-5">
                        <input type="text" class="form-control" th:field="*{email}" value=""/>
                    </span>
                    <!-- <span id="emailError" class="alert alert-danger col-sm-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</span> -->

                    <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>                    
                </div>
                <br/>
                <!-- <button type="submit" class="btn btn-primary" th:text="#{label.form.submitNewUser}">submitButton</button> -->
                <div class="container row">
                    <span class="col-sm-3">
                        <button type="submit" class="btn btn-primary" th:text="#{label.form.submitNewUser}">submitButton</button>
                    </span>
<!--                     <span class="col-sm-5 alert alert-warning" th:text="#{registration.message.before.confirmation}" th:if="${waitConfirm} != null"></span> -->
                    <span id="confirmMsg" class="col-sm-5 alert alert-warning" style="display:none"></span>

                    <span class="col-sm-4"></span>
                </div>
            </form>
            <br />
            <a th:href="@{/login}" th:text="#{label.form.goBackToLogin}">goToLoginPage</a>
        </div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = [[@{/}]];

    $(document).ready(function() {
        $('form').submit(function(event) {
            errorProcessor(event);
        });
    });

    function errorProcessor(event){
        event.preventDefault();
        var formData = $('form').serialize();

        $.post(serverContext + "registration", formData, function(correctResponse) {
            console.log("-------------> 1");
            if (correctResponse.indicator == "success") {
                            console.log("-------------> 2");
                            console.log(correctResponse);

                $.each(correctResponse.messages, function(key, value) {
                                console.log("-------------> 3");
                                console.log(key + " / " + value);

                    $("#" + key).show().html(value);
                });

                // window.location.href = serverContext + "registration.html";
            }
        }).fail(function(erroneousResponse) {
            $.each(erroneousResponse.responseJSON.messages, function(key, value) {
                if(key) {
                    $("#" + key + "Error").show().html(value);
                } else {
                    $("#confirmedPassportError").show().html(value);
                }
            });
        });

        // DO POST
        // $.ajax({
        //     type: "POST",
        //     contentType: "application/json",
        //     url: serverContext + "registration",
        //     data: JSON.stringify(formData),
        //     dataType: 'json',
        //     success: function(data) {
        //         if (data.message == "success") {
        //             window.location.href = serverContext + "registration.html";
        //         }
        //         console.log(result);
        //     },
        //     error: function(errorResponse) {
        //         console.log("ERROR: ", errorResponse);
        //     }
        // });
    }
    /*]]>*/
    </script>
</body>

</html>