<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style type="text/css">
    .form-group.required .control-label:after {
        content:" *";
        color:red;
    }
    .container {
        max-width: 2100px;
    }
    </style>
</head>

<body>
<!-- navbar and navbar-default are the base menu classes -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4077b1 !important;">
    <!-- image, company, product, or project name -->
    <!--<div style="width: 70px; height: 70px; background: #e4f024e6; border-radius: 50%; margin: 5px; float: left;">-->
        <!--<a class="navbar-brand" href="#">-->
            <!--<img th:src="@{/images/lizard.png}" width="35" height="35" alt="">-->
            <!--<br>-->
            <!--<span class="font-weight-bold"-->
                  <!--style="font-style: italic; font-size: 25px; font-family: Matura MT Script Capitals; color: black;">Lizard</span>-->
        <!--</a>-->
    <!--</div>-->


    <div style="width: 70px; height: 70px; background: #e4f024e6; border-radius: 50%; margin: 5px; float: left; position: relative">
        <a class="navbar-brand" th:href="@{/LizardsHomePage}">
            <img th:src="@{/images/lizard.png}" width="35" height="35" alt="">
            <br>
            <span class="font-weight-bold" style="font-style: italic; font-size: 25px; font-family: Matura MT Script Capitals; color: black;">Lizard</span>
        </a>
        <div style="font-style: italic; font-size: 15px; color: yellow; position: absolute; bottom: -7px; left: 120px; height: 2em; width: 600px;">
            <label th:text="#{label.form.user.logged}">User logged</label>
            <label th:text="${loggedUserName}"></label>
        </div>
    </div>


    <!--</div>-->
    <!-- menu toggler - hamburger -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu's main part -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:history.back();" th:text="#{label.pages.page.back}">Back</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/mylogout}" th:text="#{label.pages.homepage.logout}">Logout</span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Information message container -->
<div id="beforeConfirmMsg" class="alert alert-warning" style="display:none">mail sent with confirm link</div>

<div class="container" style="margin-left: 0.5em;"> <!-- top-level container -->
    <h3 th:text="#{label.form.useraccount.accountSettings}" style="margin-top: 0.5em; margin-bottom: 1.5em;">Account
        Settings</h3>
    <div class="row flex-row" style="margin-bottom: 2em;"><!-- first row: Email block -->
        <div class="col-sm-4">
            <h5 th:text="#{label.form.useraccount.emailAddress}" style="font-weight: bold; color: #0054ff;">Email Address</h5>
            <div>
                <p th:text="#{label.form.useraccount.emailHint1}"> This email address will be used as user identifier and for all notifications</p>
                <p th:text="#{label.form.useraccount.emailHint2}">If you wish to designate a different email address, override the current and then click "Change"</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container" style="max-width: 2280px">
                <div class="row flex-row d-flex flex-column" style="height: 2em; margin-bottom: 2em;">
                    <div class="col-sm-12 h-100">
                        <form id="emailForm" action="#" th:action="@{/changeEmail}" method="post"
                              enctype="utf-8">
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="emailInput"
                                           placeholder="Enter your new email">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary"
                                            th:text="#{label.form.useraccount.submitNewEmail}">
                                        submitButton
                                    </button>
                                </div>
                                <div id="newEmailError" class="alert alert-danger col-sm-4" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="flex-row d-flex flex-column" style="height: 2em; margin-bottom: 2em;">
                    <div class="col-sm-9 h-100">
                        <label style="font-style: italic; font-weight: bold;">gdrobyazko@gmail.com</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-row d-flex"> <!-- second row: Password block -->
        <div class="col-sm-4">
            <h5 th:text="#{label.form.useraccount.changePasswordHeader}" style="font-weight: bold; color: #0054ff;">Change Password</h5>
            <div>
                <p th:text="#{label.form.useraccount.passwordHint}">Please choose a password which satisfies: at least 8 characters, at least one upper-case
                    character, at least one lower-case character, at least one digit character, no whitespace</p>
            </div>
        </div>
        <div class="col-sm-8">
            <form id="passwordForm" action="#" th:action="@{/resetPassword}" method="post"
                  th:object="${viewFormChangePassword}" enctype="utf-8">
                <div class="container"> <!-- container of rows of blocks of label and input field -->
                    <div class="row align-items-start form-group required" style="margin-bottom: 1.5em;">
                        <!-- 1st row -->
                        <div class="col-sm"><!-- container for input field label -->
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col-sm-9">
                                        <label th:text="#{label.form.useraccount.oldPassword}" class="control-label">Current password</label>
                                    </div>
                                </div>
                                <div class="row align-items-start">
                                    <div class="col-sm-5">
                                        <input id="oldPasswdInput" type="text" class="form-control" th:field="*{currentpassword}" value=""
                                               th:placeholder="#{label.form.useraccount.oldPasswordPlaceholder}" >
                                    </div>
                                    <div id="currentpasswordError" class="alert alert-danger col-sm-5" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-start form-group required" style="margin-bottom: 1.5em;">
                        <!-- 2nd row -->
                        <div class="col-sm-12"><!-- container for input field label -->
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col-sm-9">
                                        <label th:text="#{label.form.useraccount.newPassword}" class="control-label">New password</label>
                                    </div>
                                </div>
                                <div class="row align-items-start">
                                    <div class="col-sm-5">
                                        <input id="newPasswdInput" type="text" class="form-control" th:field="*{newpassword}" value=""
                                               th:placeholder="#{label.form.useraccount.newPasswordPlaceholder}" >
                                    </div>
                                    <div id="newpasswordError" class="alert alert-danger col-sm-5" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-start form-group required" style="margin-bottom: 1.5em;">
                        <!-- 3rd row -->
                        <div class="col-sm-12"><!-- container for input field label -->
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col-sm-9">
                                        <label th:text="#{label.form.useraccount.confirmPassword}" class="control-label">Confirm password</label>
                                    </div>
                                </div>
                                <div class="row align-items-start">
                                    <div class="col-sm-5">
                                        <input id="confirnPasswdInput" type="text" class="form-control" th:field="*{confirmedpassword}" value=""
                                               th:placeholder="#{label.form.useraccount.confirmPasswordPlaceholder}">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{label.form.useraccount.changePassword}">
                                            submitButton
                                        </button>
                                    </div>
                                    <div id="confirmedpasswordError" class="alert alert-danger col-sm-4" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = [[@{/}]];

    $(document).ready(function() {
        $('form#passwordForm').submit(function(event) {
            errorProcessor(event);
        });
    });

    function errorProcessor(event){
        event.preventDefault();
        var formData = $('form#passwordForm').serialize();

        $.post(serverContext + "resetPassword", formData, function(correctResponse) {
            if (correctResponse.indicator == "success") {

                $.each(correctResponse.messages, function(key, value) {
                    $("#" + key).show().html(value);
                });
                // window.location.href = serverContext + "registration.html";
            }
        }).fail(function(erroneousResponse) {
            // hide previous message
            $("#currentpasswordError").hide();
            $("#newpasswordError").hide();
            $("#confirmedpasswordError").hide();

            console.log('==================================================');
            $.each(erroneousResponse.responseJSON.messages, function(key, value) {
                console.log('key = ' + key);
                if(key) {
                    $("#" + key + "Error").show().html(value);
                } else {
                    $("#confirmedpasswordError").show().html(value);
                }
            });
            console.log('==================================================');
        });
    }
    /*]]>*/
</script>

</body>

</html>